body {
    background-color:#091010 ;
}

.hero-body {
text-align: center;
}

#playlist {
    height: 400px;
    width: 320px;
    margin-left: 500px;
    margin-right: auto;
    border-radius: 0.35rem;
    background-color: #0c1616;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #000;
    margin-bottom: 300px;
}