html, body {
    background-color:#172929;
   /* height: 100%; */
}
.hero {
    text-align: center;
}


.title {
    font-family: 'Abril Fatface', cursive;
    color:#F5F5F5 !important;
    
}
.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #F5F5F5 !important;
}

select {
    
  
     
    background-color:#F5F5F5 ;
    box-sizing: border-box;
    border: 1px solid black;
    width: 50%;
    border-radius: 0.35rem;
    font-size: 16px;
    font-family: sans-serif;
    
}


#search-drink {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 400px;
    background-image: url(../images/tape.jpg);
    
    border-radius: 0.35rem;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #000;
}

#playlist {
    height: 400px;
    width: 320px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.35rem;
    background-color: #0c1616;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #000;
    margin-bottom: 500px ;
}


#drink-div {
        border-radius: 0.35rem;
        border: 1px solid;
      
        box-shadow: 5px 10px 18px #000;
      
        background-color:#e0e4d5;
        margin-bottom: 500px ;
    


}
.drink-p {
    font-family: 'Open Sans', sans-serif;
}

#drink-image {
    background-color:FFFAF0;
    width: 400px;
    height: 268px;
    border-radius: 0.35rem;
    box-shadow: 5px 10px 18px #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-image: url(../images/alcohol2.jpg) ;

}

.img-size {
    height: 530px;
    width: 400px;
    
}




#drink-dropdown {
    margin-left: 90px;
    margin-top: 145px;
    

}

#drink-content {
    text-align:center;
    font-size: large;
    font-family: 'Abril Fatface', cursive;
}

#modal {
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    margin-left: 280px;
    margin-bottom: 300px;
    background: rgba(0, 0, 0, 1);
    z-index: 99999;
    height: 500px;
    width: 800px;
    
}
.modalcontent {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color:white;
    font-size: x-large;
    width: 50%;
    padding: 20px;
}
#no-playlist {
    height: 400px;
    width: 320px;
    margin-left: 500px;
    margin-right: auto;
    border-radius: 0.35rem;
    background-color: #0c1616;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #000;
    margin-bottom: 300px;
}